 ================================================================================== 
 Fonts
 ===================================================================================== */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
/* ================================================================================== 
Reset Css
===================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
::-moz-selection { /* Code for Firefox */
	background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}

::selection {
	background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}

ol, ul {
	list-style: none;
	margin-bottom: 0 !important;
}
a:hover {
	color: inherit !important;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
    outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin:0;
	padding: 0;
}
a:focus {
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none !important;
}
button {
	outline: none;
}

button:focus {
	outline: none !important;
}

input {
	outline: none;
}
textarea {
	outline: none;
}

p {
	font-size: 14px;
	line-height: 26px;
	color: #686f7a;
}

/* ================ Typography Css =============== */
h1 {
	font-size: 2em;
	/* 2x body copy size = 32px */
	line-height: 1.25;
	/* 45px / 36px */
}
h2 {
	font-size: 1.625em;
	/* 1.625x body copy size = 26px */
	line-height: 1.15384615;
	/* 30px / 26px */
}
h3 {
	font-size: 1.375em;
	/* 1.375x body copy size = 22px */
	line-height: 1.13636364;
	/* 25px / 22px */
}
h4 {
	font-size: 1.125em;
	/* 1.125x body copy size = 18px */
	line-height: 1.11111111;
}
h5 {
	font-size: 1.10em;
	/* 1.125x body copy size = 18px */
	line-height: 1.10;
}
h6 {
	font-size: 1em;
	/* 1.125x body copy size = 18px */
	line-height: 1.050;
}
blockquote {
	font-size: 1.25em;
	/* 20px / 16px */
	line-height: 1.25;
	/* 25px / 20px */
}
@media (min-width: 43.75em) {
    h1 {
       font-size: 2.5em;
       /* 2.5x body copy size = 40px */
       line-height: 1.125;
   }
   h2 {
       font-size: 2em;
       /* 2x body copy size = 32px */
       line-height: 1.25;
   }
   h3 {
       font-size: 1.5em;
       /* 1.5x body copy size = 24px */
       line-height: 1.25;
   }
   h4 {
       line-height: 1.22222222;
       /* (22px / 18px */
   }
   blockquote {
       font-size: 1.5em;
       /* 24px / 16px = */
       line-height: 1.45833333;
       /* 35px / 24px */
   }
}
@media (min-width: 56.25em) {
    h1 {
       font-size: 3em;
       /* 3x body copy size = 48px */
       line-height: 1.05;
	/* keep to a multiple of the 20px line height 
	and something more appropriate for display headings */
}
h2 {
	font-size: 2.25em;
	/* 2.25x body copy size = 36px */
	line-height: 1.25;
}
h3 {
	font-size: 1.75em;
	/* 1.75x body copy size = 28px */
	line-height: 1.25;
}
}


/* ================ CROSS BROWSER COMPATABILITY =============== */

.ask-question,
nav,
.notification-box.active,
nav ul li a,
.user-account-settingss.active,
.user-info a,
.suggestion-usd > span i,
.view-more > a,
.tags-sec ul li a,
.post-st ul li a,
.ed-opts > a,
.bk-links li a,
.like-com li a,
.user-profy > a,
.slick-previous:before,
.slick-nexti:before,
.comment > a,
.sign_link > a,
.post-popup,
.post-project > a,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.sign-control li a,
.cover-sec > a,
.star-descp > a,
.message-btn a,
.pf-gallery ul li,
.gallery_pt:before,
.gallery_pt > a,
.overview-box,
.skl-name,
.conv-list,
.save-stngs ul li button,
.forum-links.active,
.react-links li a,
.next-prev > a,
nav ul li:hover > ul,
.user-pro-img > a i {
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.is-visually-hidden {
    border: 0 !important;
    color: transparent;
    height: 1px !important;
    left: -999999px !important;
    position: absolute !important;
    width: 1px !important;
}

/* === Body Scrollbar === */

body::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
body::-webkit-scrollbar-corner {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0,0,0,.15);
    -webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,.05), inset 1px 1px 0 rgba(0,0,0,.05);
}

html {
 font-size: 14px;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	line-height: 1.42857143;
	color: #333;
	background: #f7f7f7 !important;
}

.menu_left::-webkit-scrollbar {
    width:4px;
}
.menu_left::-webkit-scrollbar-thumb {
    height: 50px;
    background: hsla(0, 0%, 53.3%, 0.4);
}

input[type=text] {
	color: #333 !important;
}

/* --- Preloader --- */

/*--- Left Side Footer ---*/

.alrt_dot {
    position: absolute;
    right: 15px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background: #ed2a26;
    overflow: hidden;
    width: 5px;
    height: 5px;
    text-align: center;
    border-radius: 100%;
    top: 45%;
}

.left_footer {
    padding: 15px 14px;
}

.left_footer ul li {
    display: inline-block;
}

.left_footer a {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 24px;
    padding: 0 3px;
    color: #333;
}

.left_footer a:hover {
	color: #ed2a26 !important;
}

.left_footer_content {
    padding-top: 15px;
}

.left_footer_content p {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #afafaf;
    text-align: left;
    line-height: 24px;
}

.left_section {
    border-bottom: 1px solid #e5e5e5;
}

/*--- Header ---*/
.main-nav{
    padding-top: 40px;
}
.nav-left-half {
    float: left;
}
@media screen and (min-width: 37.5625em) {
    .nav-left-half {
        padding-right: 51px;
    }
}
@media screen and (min-width: 43.75em) {
    .nav-left-half {
        padding-right: 66px;
    }
}
@media screen and (min-width: 50em) {
    .nav-left-half {
        padding-right: 94px;
    }
}
@media screen and (min-width: 56.25em) {
    .nav-left-half {
        padding-right: 110px;
    }
}
@media screen and (min-width: 64em) {
    .nav-left-half {
        padding-right: 118px;
    }
}
.nav-right-half {
    float: right;
}
@media screen and (min-width: 37.5625em) {
    .nav-right-half {
        padding-left: 51px;
    }
}
@media screen and (min-width: 43.75em) {
    .nav-right-half {
        padding-left: 66px;
    }
}
@media screen and (min-width: 50em) {
    .nav-right-half {
        padding-left: 94px;
    }
}
@media screen and (min-width: 56.25em) {
    .nav-right-half {
        padding-left: 110px;
    }
}
@media screen and (min-width: 64em) {
    .nav-right-half {
        padding-left: 118px;
    }
}
.nav-left-half,
.nav-right-half {
    width: 50%;
}
.nav-left-half [role="presentation"] li,
.nav-right-half [role="presentation"] li {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    width: 50%;
}
@media screen and (max-width: 37.5em) {
    .nav-left-half,
    .nav-right-half,
    .nav-right-half [role="presentation"] li,
    .nav-left-half [role="presentation"] li {
        float: none;
        padding: 0;
        width: auto;
    }
    .nav-right-half li:last-child a:after {
        left: 0;
    }
}

.nav-fixtop{
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #fff;
    display: flex !important;
    align-items: center;
    box-shadow: 0px 0.052083333in 11.25pt -9px rgba(0,0,0,.1);
}

.nav-group--top-bar{
    background: #30393a;
    font-size: .75em;
    text-align: left;
    z-index: 3;
}

.nav-group--top-bar li {
    display: inline-block;
}

.nav-group--top-bar a {
    color: #fff !important;
    padding: .8em;
    -webkit-transition: padding .2s;
    transition: padding .2s;
}

.nav-group--top-bar a:before {
    background: #fff;
    top: 0;
}

.nav-group li {
    line-height: 1;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
}

.nav-group a {
    display: block;
    position: relative;
    text-decoration: none;
    -webkit-transition: padding .2s, font-size .2s;
    transition: padding .2s, font-size .2s;
    white-space: nowrap;
}

.nav-group a:before {
    content: '';
    height: 4px;
    left: 0;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transition: width .45s, opacity .1s;
    transition: width .45s, opacity .1s;
    width: 0%;
}

.nav-group a:hover:before, .nav-group a:focus:before, .nav-group a.selected:before {
    opacity: 1;
    text-decoration: none;
    width: 100%;
}

@media screen and (max-width: 37.5em) {
    .nav-group--top-bar {
        background: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav-group--top-bar li {
        display: block;
    }
    .nav-group--top-bar a {
        font-size: 1em;
    }
}

@media screen and (min-width: 37.5625em){
    .nav-group--top-bar {
        position: fixed;
        top: 0;
        width: 100%;
        font-size: 0.9em;
    }

    .nav-group--top-bar a {
        padding: 1em .65em;
        font-weight: 500;
    }

    .nav-group--top-bar a {
        color: #fff;
        -webkit-transition: padding .2s;
        transition: padding .2s;
    }
}

@media screen and (min-width: 43.75em){
    .nav-group--top-bar a {
        padding: 1em 1.25em;
    }
}

@media screen and (min-width: 50em){
    .nav-group--top-bar {
        font-size: 1.1em;
        text-align: center;
    }
    .nav-group--top-bar a{
        padding: 0.8em 1.2em;
    }
}

.no-js .list--drop-nav,
.is-touch-device .list--drop-nav {
    display: none;
}
.ie-8 .list--drop-nav {
    border: 1px solid #ccc;
}
.list--drop-nav {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 0 1px;
    min-width: 94%;
    opacity: 0;
    height: 1px;
    overflow: hidden;
    position: absolute;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    white-space: nowrap;
}
@media screen and (max-width: 600px) {
    .list--drop-nav {
        display: none;
    }
}
.list--drop-nav li {
    float: none !important;
    padding: 0 !important;
    text-align: left;
    width: 100% !important;
}
.list--drop-nav .first a {
    padding-top: 16px;
}
.list--drop-nav .last a {
    padding-bottom: 12px;
}
@media screen and (max-height: 666px) {
    .list--drop-nav .first a {
        padding-top: 12px;
    }
    .list--drop-nav .last a {
        padding-bottom: 8px;
    }
}
.list--drop-nav a {
    font-size: 0.8em;
    display: block;
    padding: 8px 12px;
    width: 100%;
}
.list--drop-nav a:before {
    display: none;
}
.list--drop-nav a:hover,
.list--drop-nav a:focus {
    background: #a51c30;
    color: #fff !important;
}
@media screen and (max-height: 666px) {
    .list--drop-nav a {
        font-size: 0.65em;
        padding: 6px 12px;
    }
}
.has-drop-nav:hover .list--drop-nav,
.list--drop-nav:hover .list--drop-nav,
.is-opened .list--drop-nav {
    height: auto;
    opacity: 1;
    visibility: visible;
}
.list--drop-nav:before {
    background: #a51c30;
    content: "";
    display: none;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.list--drop-nav:hover:before,
.is-opened .list--drop-nav:before {
    display: block;
}
.no-js .has-drop-nav:hover .list--drop-nav {
    display: block;
}
@media screen and (max-height: 666px) {
    .in-view .list--drop-nav a {
        font-size: 0.72em;
        padding: 6px 12px;
    }
    .in-view .list--drop-nav .first a {
        padding-top: 12px;
    }
    .in-view .list--drop-nav .last a {
        padding-bottom: 8px;
    }
}
@media screen and (max-height: 530px) {
    .list--drop-nav {
        display: none;
    }
}

.harvard-heading {
    background-image: url(../images/logo/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    left: 0;
    margin: auto;
    padding: 0;
    position: fixed;
    right: 0;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
    z-index: 15;
}
@media screen and (min-width: 601px) {
    .harvard-heading {
        background-position: center -13px;
        height: 76px;
        top: 37px;
        width: 110px;
    }
}
@media screen and (min-width: 720px) and (max-width: 799px) {
    .harvard-heading {
        background-position: 0 -20px;
        height: 82px;
        width: 140px;
    }
}
@media screen and (min-width: 800px) {
    .harvard-heading {
        background-position: center bottom;
        height: 140px;
        top: 41px;
        width: 200px;
    }
}
@media screen and (min-width: 1100px) {
    .harvard-heading {
        height: 172px;
        width: 246px;
    }
}
.harvard-heading__link {
    background: url(../images/logo/harvard-logo.png) no-repeat;
    background-size: cover;
    color: transparent;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.harvard-heading__link:before {
    background: #a51c30;
    content: "";
    height: 4px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    width: 0%;
}
.harvard-heading__link:hover:before,
.harvard-heading__link:focus:before {
    width: 100%;
}
@media screen and (max-width: 600px) {
    .harvard-heading__link {
        background: url(../images/shield.png) no-repeat center center;
        background-size: auto 90%;
        height: 58px;
        left: 0;
        position: fixed;
        right: auto;
        top: 0;
        width: 58px;
        z-index: 8;
    }
}
@media screen and (min-width: 601px) {
    .harvard-heading__link {
        background-position: center bottom;
        background-size: 114% auto;
        height: 49px;
    }
    .in-view .harvard-heading {
        background-position: center bottom;
        height: 56px;
        top: 37px;
        width: 110px;
    }
    .in-view .harvard-heading__link {
        background-position: center bottom;
        background-size: 106% auto;
        height: 44px;
    }
    .in-view .harvard-heading__link:before {
        top: 0;
    }
}
@media screen and (min-width: 800px) {
    .in-view .harvard-heading {
        top: 40px;
    }
}
@media screen and (min-width: 720px) and (max-width: 799px) {
    .harvard-heading__link {
        background-position: center bottom;
        background-size: 110% auto;
        height: 60px;
        margin-top: 0;
    }
    .harvard-heading__link:before {
        top: 0;
    }
}
@media screen and (min-width: 800px) {
    .harvard-heading__link {
        background-size: 80% auto;
        background-position: center center;
        margin: 0;
    }
    .harvard-heading__link:before {
        top: 0;
    }
}
@media screen and (min-width: 50em) {
    .harvard-heading__link {
        height: 100%;
        width: 100%;
    }
}

.nav-group ul {
    max-width: 1300px;
}
.nav-group li {
    line-height: 1;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
}
.nav-group a {
    display: block;
    position: relative;
    text-decoration: none;
    -webkit-transition: padding 0.2s, font-size 0.2s;
    transition: padding 0.2s, font-size 0.2s;
    white-space: nowrap;
}
.nav-group a:before {
    content: "";
    height: 4px;
    left: 0;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    -webkit-transition: width 0.45s, opacity 0.1s;
    transition: width 0.45s, opacity 0.1s;
    width: 0%;
}
@media screen and (max-width: 37.5em) {
    .nav-group a:before {
        left: auto;
        right: 0;
        width: 100%;
    }
}
.nav-group a:hover:before,
.nav-group a:focus:before,
.nav-group a.selected:before {
    opacity: 1;
    text-decoration: none;
    width: 100%;
}
.nav-group--consistent {
    font-size: 1.1em;
    text-align: center;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
    width: 100%;
    z-index: 2;
}
.nav-group--consistent a {
    color: #a51c30;
}
.nav-group--consistent a:before {
    background: #a51c30;
    bottom: 0;
}
@media screen and (max-width: 37.5em) {
    .nav-group--consistent {
        font-size: 1em;
        text-align: left;
    }
    .nav-group--consistent a {
        color: #fff;
        padding: 1em 1em 1em 1.25em;
    }
    .nav-group--consistent a:before {
        background: #fff;
    }
    .nav-group--consistent a:after {
        background: #3d3d3d;
        bottom: 0;
        content: "";
        height: 1px;
        left: 16px;
        position: absolute;
        width: 100%;
    }
}
@media screen and (min-width: 37.5625em) {
    .nav-group--consistent {
        background: #fff;
        font-size: 1em;
        position: fixed;
        top: 36px;
        font-weight: 500;
    }
    .nav-group--consistent a {
        padding: 0.75em;
    }
}
@media screen and (min-width: 43.75em) {
    .nav-group--consistent {
        font-size: 1.05em;
    }
}
@media screen and (min-width: 50em) {
    .nav-group--consistent {
        font-size: 1.2em;
        top: 2.4em;
    }
}
@media screen and (min-width: 64em) {
    .nav-group--consistent {
        top: 2.05em;
        font-size: 1.4em;
    }
    .nav-group--consistent a{
        padding: .8em 1.25em;
    }
}
.nav-group--callouts {
    background: #f3f3f1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.nav-group--callouts a {
    color: #a51c30;
    font-size: 1em;
    padding: 0.75em;
    position: relative;
    z-index: 2;
}
.nav-group--callouts a:before {
    background: #777;
    bottom: 0;
}
@media screen and (max-width: 37.5em) {
    .nav-group--callouts {
        background: none;
        box-shadow: none;
        padding-top: 1.25em;
    }
    .nav-group--callouts a {
        color: #cccccc;
    }
    .nav-group--callouts a:hover {
        color: #e6e6e6;
    }
    .nav-group--callouts a:before {
        background: #cccccc;
    }
}
@media screen and (min-width: 37.5625em) {
    .nav-group--callouts {
        font-size: 0.9em;
        position: relative;
        text-align: center;
        top: 2.4em;
        -webkit-transition: top 0.2s;
        transition: top 0.2s;
    }
    .nav-group--callouts a {
        padding: 0.75em 0;
    }
}
@media screen and (min-width: 43.75em) {
    .nav-group--callouts {
        top: 2.8em;
    }
    .nav-group--callouts a {
        padding: 0.75em;
    }
}
@media screen and (min-width: 50em) {
    .nav-group--callouts {
        font-size: 1.1em;
        top: 2.4em;
    }
}
@media screen and (min-width: 64em) {
    .nav-group--callouts {
        font-size: 1.2em;
        top: 2.6em;
    }
}

.scroll-link {
    opacity: 0;
    position: absolute;
    text-indent: -99999px;
    -webkit-transform: translateX(-99px);
    -ms-transform: translateX(-99px);
    transform: translateX(-99px);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.1s;
    transition: opacity 0.1s, transform 0.1s;
    visibility: hidden;
}
@media screen and (max-width: 37.5em) {
    .scroll-link {
        display: none !important;
    }
}
.in-view .scroll-link {
    background: rgba(165, 28, 48, 0.85);
    font-size: inherit;
    opacity: 1;
    position: relative;
    text-indent: 0;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    visibility: visible;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
    .lg-nav-txt {
        visibility: hidden;
        position: absolute;
    }
}
.in-view .nav-left-half {
    padding-right: 50px;
}
.in-view .nav-right-half {
    padding-left: 50px;
}
@media screen and (min-width: 37.5625em) {
    .in-view .nav-group--consistent {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
        font-size: 0.9em;
        top: 2.95em;
    }
}
@media screen and (min-width: 700px) {
    .in-view .nav-group--consistent {
        font-size: 1.1em;
        top: 2.4em;
    }
    .in-view .nav-group--consistent a {
        padding: 0.65em;
    }
    .in-view .search-icon {
        height: 36px;
    }
}
@media screen and (min-width: 800px) {
    .in-view .nav-group--consistent {
        top: 2.2em;
        font-size: 1.25em;
    }
}

.nav-open,
.nav-open body {
    overflow: hidden;
    height: 100%;
}
@media screen and (max-width: 37.5em) {
    .nav-open .main-nav,
    .nav-open body .main-nav {
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
        overflow: auto;
        padding-top: 44px;
        right: 0%;
    }
    .nav-open .main-nav ul,
    .nav-open body .main-nav ul {
        visibility: visible;
    }
}
.is-touch-device .main-nav ul a:hover,
.is-touch-device .main-nav ul a:focus {
    background: transparent;
}
.is-touch-device .nav-group a:hover:before,
.is-touch-device .nav-group a:focus:before {
    opacity: 0;
}
.no-js .list--drop-nav,
.is-touch-device .list--drop-nav {
    display: none;
}
.ie-8 .list--drop-nav {
    border: 1px solid #ccc;
}
.list--drop-nav {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 0 1px;
    min-width: 94%;
    opacity: 0;
    height: 1px;
    overflow: hidden;
    position: absolute;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    white-space: nowrap;
}
@media screen and (max-width: 600px) {
    .list--drop-nav {
        display: none;
    }
}
.list--drop-nav li {
    float: none !important;
    padding: 0 !important;
    text-align: left;
    width: 100% !important;
}
.list--drop-nav .first a {
    padding-top: 16px;
}
.list--drop-nav .last a {
    padding-bottom: 12px;
}
@media screen and (max-height: 666px) {
    .list--drop-nav .first a {
        padding-top: 12px;
    }
    .list--drop-nav .last a {
        padding-bottom: 8px;
    }
}
.list--drop-nav a {
    font-size: 0.85em;
    display: block;
    padding: 8px 12px;
    width: 100%;
    font-weight: 400;
}
.list--drop-nav a:before {
    display: none;
}
.list--drop-nav a:hover,
.list--drop-nav a:focus {
    background: #a51c30;
    color: #fff;
}
@media screen and (max-height: 666px) {
    .list--drop-nav a {
        font-size: 0.65em;
        padding: 6px 12px;
    }
}
.has-drop-nav:hover .list--drop-nav,
.list--drop-nav:hover .list--drop-nav,
.is-opened .list--drop-nav {
    height: auto;
    opacity: 1;
    visibility: visible;
}
.list--drop-nav:before {
    background: #a51c30;
    content: "";
    display: none;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.list--drop-nav:hover:before,
.is-opened .list--drop-nav:before {
    display: block;
}
.no-js .has-drop-nav:hover .list--drop-nav {
    display: block;
}
@media screen and (max-height: 666px) {
    .in-view .list--drop-nav a {
        font-size: 0.72em;
        padding: 6px 12px;
    }
    .in-view .list--drop-nav .first a {
        padding-top: 12px;
    }
    .in-view .list--drop-nav .last a {
        padding-bottom: 8px;
    }
}
@media screen and (max-height: 530px) {
    .list--drop-nav {
        display: none;
    }
}
.main-nav .btn-mobile-nav {
    display: none;
}
.main-nav {
    background: #fff;
    position: relative;
    z-index: 9;
}
.main-nav ul {
    margin: 0 auto;
}
@media screen and (max-width: 37.5em) {
    .main-nav {
        background: #222;
        box-shadow: 0 0 100px transparent;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 0;
        -webkit-transition: right 0.2s, box-shadow 0.2s;
        transition: right 0.2s, box-shadow 0.2s;
        width: 96%;
        width: calc(100% - 1.75em);
        z-index: 9;
    }
    .main-nav ul {
        position: relative;
        visibility: hidden;
    }
    .main-nav ul a {
        background: transparent;
        font-size: 1.125em;
        padding-left: 20px;
        -webkit-transition: background 0.25s;
        transition: background 0.25s;
    }
    .main-nav ul a:before {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        -webkit-transition: width 0.1s;
        transition: width 0.1s;
        width: 0px;
    }
    .main-nav ul a:hover,
    .main-nav ul a:focus,
    .main-nav ul a.selected {
        background: rgba(0, 0, 0, 0.4);
    }
    .main-nav ul a:hover:before,
    .main-nav ul a:focus:before,
    .main-nav ul a.selected:before {
        width: 6px;
    }
    .main-nav li {
        display: block;
        float: none;
        width: auto;
    }
    .main-nav li ul li {
        border-bottom: 0;
    }
}
@media screen and (max-width: 37.5em) {
    .nav-drawer {
        background: #222;
        height: 100%;
        overflow-y: auto;
    }
    .nav-drawer ul {
        overflow: hidden;
    }
    .main-nav {
        background: transparent;
    }
    .header-base:before {
        background: #30393a;
        border-bottom: 1px solid #666;
        content: "";
        height: 44px;
        left: -50%;
        position: fixed;
        top: 0;
        width: 300%;
        z-index: 7;
    }
}
.btn--menu {
    border: none;
    font-weight: 500;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1;
    margin: auto;
    max-width: 200px;
    min-width: 106px;
    padding: 14px 50px 14px 12px;
    position: fixed;
    right: 45px;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: padding 0.2s 0.4s, text-indent 0.2s 0.4s, color 0.2s 0.4s, max-width 0.2s 0.4s, min-width 0.2s 0.4s;
    transition: padding 0.2s 0.4s, text-indent 0.2s 0.4s, color 0.2s 0.4s, max-width 0.2s 0.4s, min-width 0.2s 0.4s;
    z-index: 11;
}
.btn--menu:active,
.btn--menu:link,
.btn--menu:visited {
    color: #fff !important;
}
.btn--menu:hover,
.btn--menu:link:hover,
.btn--menu:focus {
    background: #222;
    box-shadow: inset 0 0 1px #ccc;
}
.btn--menu[data-state="off"]:hover .btn--menu__icon {
    width: 22px;
}
.btn--menu[data-state="off"]:hover .btn--menu__icon:before {
    top: -8px;
}
.btn--menu[data-state="off"]:hover .btn--menu__icon:after {
    bottom: -8px;
}
.btn--menu[data-state="on"] {
    color: rgba(255, 255, 255, 0) !important;
    max-width: 20px;
    min-width: 1px;
    padding-left: 24px;
    padding-right: 24px;
}
.btn--menu[data-state="on"] .btn--menu__icon {
    background: transparent;
    bottom: 0;
    top: 0;
    -webkit-transition: -webkit-transform 0.2s 0.4s;
    transition: transform 0.2s 0.4s;
}
.btn--menu[data-state="on"] .btn--menu__icon:before,
.btn--menu[data-state="on"] .btn--menu__icon:after {
    background: #ccc;
    bottom: 0;
    top: 0;
}
.btn--menu[data-state="on"] .btn--menu__icon:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn--menu[data-state="on"] .btn--menu__icon:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media screen and (max-width: 37.5em) {
    .btn--menu {
        border-left: 1px solid rgba(255, 255, 255, 0.12);
        border-right: 1px solid rgba(255, 255, 255, 0.12);
    }
}
@media screen and (min-width: 37.5625em) {
    .btn--menu {
        display: none;
    }
}
.btn--menu__icon {
    background: #fff;
    bottom: 0;
    height: 2px;
    right: 0;
    margin: auto 0 auto 2px !important;
    position: absolute;
    right: 14px;
    top: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    width: 20px;
}
.btn--menu__icon:before,
.btn--menu__icon:after {
    background: #fff;
    border-radius: 4px;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    -webkit-transition: -webkit-transform 0.2s 0s, top 0.2s, bottom 0.2s;
    transition: transform 0.2s 0s, top 0.2s, bottom 0.2s;
    width: 100%;
}
.btn--menu__icon:before {
    top: -6px;
}
.btn--menu__icon:after {
    bottom: -6px;
}
.is-touch-device .btn--menu:hover,
.is-touch-device .btn--menu:link:hover,
.is-touch-device .btn--menu:focus {
    background: transparent;
    box-shadow: none;
}
.is-touch-device .btn--menu[data-state="off"]:hover .btn--menu__icon {
    right: 14px;
    width: 20px;
}
.is-touch-device .btn--menu[data-state="off"]:hover .btn--menu__icon:before {
    top: -6px;
}
.is-touch-device .btn--menu[data-state="off"]:hover .btn--menu__icon:after {
    bottom: -6px;
}

.search-area {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 12;
}
input.input-search {
    background: url(../images/search-icon.png) #fff no-repeat 14px center;
    padding-left: 44px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    input.input-search {
        background-image: url("../images/search-icon@2x.png");
        background-size: 22px 21px;
    }
}
.btn--mobile-site-search {
    border: 0;
    display: none;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 4;
}
.btn--mobile-site-search:active {
    box-shadow: none;
}
.is-touch-device .btn--mobile-site-search {
    display: block;
}
#searchArea input.input-search {
    background-color: transparent;
    height: 44px;
    border: none;
    color: #fff;
    font-size: 0.9em;
    max-width: 44px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-top: 2px;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: width 0.3s, height 0.2s;
    transition: width 0.3s, height 0.2s;
    width: 44px;
    z-index: 10;
}
#searchArea input.input-search:hover,
#searchArea input.input-search:focus {
    background-color: #000;
    box-shadow: inset 0 0 1px #fff;
}
#searchArea input.input-search:focus {
    max-width: 280px;
    padding-right: 16px;
    width: 100%;
}
@media screen and (max-width: 600px){
    #searchArea input.input-search{
        font-size: 1.1em;
        background-color: #30393a;
    }
    input.input-search{
        background-size: 20px 19px;
        padding-left: 41px;
    }
}
@media screen and (min-width: 601px) {
    #searchArea input.input-search {
        background-color: #000000;
        background-size: auto 18px;
        height: 36px;
        width: 40px;
    }
    .btn--mobile-site-search, .is-touch-device .btn--mobile-site-search{
        display: none;
    }
}
@media screen and (min-width: 50em) {
    #searchArea input.input-search {
        height: 40px;
        width: 50px;
    }
}
@media screen and (min-width: 56.25em) {
    #searchArea input.input-search {
        width: 3.75em;
    }
}
@media screen and (min-width: 1201px) {
    #searchArea input.input-search {
        max-width: 280px;
        padding-right: 16px;
        width: 100%;
        font-size: 1.1em;
    }
}
/*--- Index Homepage ---*/
.main-base {
    padding-top: 32px;
    position: relative;
}
@media screen and (min-width: 37.5625em) {
    .main-base {
        padding-top: 52px;
    }
}
@media screen and (min-width: 900px) {
    .main-base {
        padding-top: 80px;
    }
}
.homepage .main-base {
    padding-top: 52px;
}
@media screen and (max-width: 1016px) {
    .homepage .main-base {
        padding-top: 40px;
    }
}
@media screen and (max-width: 900px) {
    .homepage .main-base {
        padding-top: 39px;
    }
}
@media screen and (max-width: 800px) {
    .homepage .main-base {
        padding-top: 32px;
    }
}
@media screen and (max-width: 660px) {
    .homepage .main-base {
        padding-top: 0;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1340px;
    padding: 1.25em;
    position: relative;
}

.clearfix:after, .wrapper:after {
	content: "";
	display: block;
	clear: both;
}

.mt-80 {
	margin-top: 80px;
}

.mt-62 {
	margin-top:62px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-62 {
	margin-bottom: 62px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-10 {
	margin-bottom: 10px;
}

.txt-center {
    text-align: center;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.txt-success {
    color: #52854c;
}
.txt-warning {
    color: #d16103;
}
.txt-error {
    color: #d41934;
}
.txt-no-italic {
    font-style: normal;
}
.txt-highlight {
    background: #a51c30;
    border-radius: 0.125em;
    color: #fff;
    display: inline-block;
    padding: 0.25em;
}

.c-bg-green {
    background-color: #52854c;
}
.c-bg-green--tint {
    background-color: rgba(82, 133, 76, 0.75);
}
.c-bg-blue-dark {
    background-color: #293352;
}
.c-bg-blue-dark--tint {
    background-color: rgba(41, 51, 82, 0.75);
}
.c-bg-orange {
    background-color: #d16103;
}
.c-bg-orange--tint {
    background-color: rgba(209, 97, 3, 0.75);
}
.c-bg-crimson {
    background-color: #a51c30;
}
.c-bg-crimson--tint {
    background-color: rgba(165, 28, 48, 0.75);
}
.c-bg-blue {
    background-color: #4e84c4;
}
.c-bg-blue--tint {
    background-color: rgba(78, 132, 196, 0.75);
}
.c-bg-gold {
    background-color: #c4961a;
}
.c-bg-gold--tint {
    background-color: rgba(196, 150, 26, 0.75);
}
.c-bg-green-light {
    background-color: #c3d7a4;
}
.c-bg-green-light--tint {
    background-color: rgba(195, 215, 164, 0.75);
}
.c-bg-white {
    background-color: #fff;
}
.c-bg-white--tint {
    background-color: rgba(255, 255, 255, 0.75);
}
.c-bg-dark {
    background-color: #414141;
}
.c-bg-dark--tint {
    background-color: rgba(65, 65, 65, 0.75);
}
.c-bg-grey {
    background-color: #bac5c6;
}
.c-bg-grey--tint {
    background-color: rgba(186, 197, 198, 0.75);
}
.c-border-green {
    border-color: #52854c;
}
.c-border-blue-dark {
    border-color: #293352;
}
.c-border-orange {
    border-color: #d16103;
}
.c-border-crimson {
    border-color: #a51c30;
}
.c-border-blue {
    border-color: #4e84c4;
}
.c-border-gold {
    border-color: #c4961a;
}
.c-border-green-light {
    border-color: #c3d7a4;
}
.c-border-white {
    border-color: #fff;
}
.c-border-dark {
    border-color: #414141;
}
.c-border-grey {
    border-color: #bac5c6;
}
.c-txt-green {
    color: #52854c;
}
.c-txt-blue-dark {
    color: #293352;
}
.c-txt-orange {
    color: #d16103;
}
.c-txt-crimson {
    color: #a51c30;
}
.c-txt-blue {
    color: #4e84c4;
}
.c-txt-gold {
    color: #c4961a;
}
.c-txt-green-light {
    color: #c3d7a4;
}
.c-txt-white {
    color: #fff;
}
.c-txt-dark {
    color: #414141;
}
.c-txt-grey {
    color: #bac5c6;
}
.c-txt-white h1,
.c-txt-white h2,
.c-txt-white h3,
.c-txt-white h4,
.c-txt-white h5,
.c-txt-white h6,
.c-txt-white p,
.c-txt-white a,
.c-txt-white a:hover,
.c-txt-white a:focus,
.card.c-txt-white h1,
.card.c-txt-white h2,
.card.c-txt-white h3,
.card.c-txt-white h4,
.card.c-txt-white h5,
.card.c-txt-white h6,
.card.c-txt-white p,
.card.c-txt-white a,
.card.c-txt-white a:hover,
.card.c-txt-white a:focus {
    color: #fff;
}
.c-txt-dark h1,
.c-txt-dark h2,
.c-txt-dark h3,
.c-txt-dark h4,
.c-txt-dark h5,
.c-txt-dark h6,
.c-txt-dark p,
.card.c-txt-dark h1,
.card.c-txt-dark h2,
.card.c-txt-dark h3,
.card.c-txt-dark h4,
.card.c-txt-dark h5,
.card.c-txt-dark h6,
.card.c-txt-dark p {
    color: #414141;
}
.c-txt-dark a,
.c-txt-dark a:hover,
.c-txt-dark a:focus,
.card.c-txt-dark a,
.card.c-txt-dark a:hover,
.card.c-txt-dark a:focus {
    color: #a51c30;
}
.c-txt-dark h1 a,
.c-txt-dark h1 a:hover,
.c-txt-dark h1 a:focus,
.c-txt-dark h2 a,
.c-txt-dark h2 a:hover,
.c-txt-dark h2 a:focus,
.c-txt-dark h3 a,
.c-txt-dark h3 a:hover,
.c-txt-dark h3 a:focus,
.c-txt-dark h4 a,
.c-txt-dark h4 a:hover,
.c-txt-dark h4 a:focus,
.c-txt-dark h5 a,
.c-txt-dark h5 a:hover,
.c-txt-dark h5 a:focus,
.c-txt-dark h6 a,
.c-txt-dark h6 a:hover,
.c-txt-dark h6 a:focus,
.card.c-txt-dark h1 a,
.card.c-txt-dark h1 a:hover,
.card.c-txt-dark h1 a:focus,
.card.c-txt-dark h2 a,
.card.c-txt-dark h2 a:hover,
.card.c-txt-dark h2 a:focus,
.card.c-txt-dark h3 a,
.card.c-txt-dark h3 a:hover,
.card.c-txt-dark h3 a:focus,
.card.c-txt-dark h4 a,
.card.c-txt-dark h4 a:hover,
.card.c-txt-dark h4 a:focus,
.card.c-txt-dark h5 a,
.card.c-txt-dark h5 a:hover,
.card.c-txt-dark h5 a:focus,
.card.c-txt-dark h6 a,
.card.c-txt-dark h6 a:hover,
.card.c-txt-dark h6 a:focus {
    color: #414141;
}
.c-txt-dark .card--background-img .c-txt-white h1,
.c-txt-dark .card--background-img .c-txt-white h2,
.c-txt-dark .card--background-img .c-txt-white h3,
.c-txt-dark .card--background-img .c-txt-white h4,
.c-txt-dark .card--background-img .c-txt-white h5,
.c-txt-dark .card--background-img .c-txt-white h6,
.c-txt-dark .card--background-img .c-txt-white p,
.c-txt-dark .card--background-img .c-txt-white a,
.c-txt-dark .card--background-img .c-txt-white a:hover,
.c-txt-dark .card--background-img .c-txt-white a:focus,
.card.c-txt-dark .card--background-img .c-txt-white h1,
.card.c-txt-dark .card--background-img .c-txt-white h2,
.card.c-txt-dark .card--background-img .c-txt-white h3,
.card.c-txt-dark .card--background-img .c-txt-white h4,
.card.c-txt-dark .card--background-img .c-txt-white h5,
.card.c-txt-dark .card--background-img .c-txt-white h6,
.card.c-txt-dark .card--background-img .c-txt-white p,
.card.c-txt-dark .card--background-img .c-txt-white a,
.card.c-txt-dark .card--background-img .c-txt-white a:hover,
.card.c-txt-dark .card--background-img .c-txt-white a:focus {
    color: #fff;
}
a.c-txt-white,
a.c-txt-white:hover,
a.c-txt-white:focus {
    color: #fff;
}

.btn--min-width {
    min-width: 160px;
}

@media screen and (min-width: 601px) {
    .card--title-callout {
        padding-bottom: 1em;
        padding-top: 1em;
    }
}
.card--title-callout__heading {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
}
@media screen and (max-width: 37.5em) {
    .card--title-callout__heading {
        display: block;
        margin-right: 0;
        text-align: center;
    }
}
@media screen and (min-width: 601px) {
    .card--title-callout__heading {
        font-weight: 400;
        font-size: 2.5em;
        padding: 0.875em 0;
    }
}
.card--title-callout .btn {
    margin-left: 0.5em;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    line-height: normal;
    padding: 1em;
    text-align: center;
    text-decoration: none !important;
    -webkit-transition: background .2s;
    transition: background .2s;
    text-transform: uppercase;
}
.card--title-callout .btn:hover{
    color: #a51c30 !important;
    background: rgba(212,25,52,0.05);
    border-color: #d41934;
}
@media screen and (max-width: 37.5em) {
    .card--title-callout .btn {
        margin: 0;
    }
}

.padding-xsm {
    padding: 2.5em 2em;
}
.padding-sm {
    padding: 3.75em 2em;
}
.padding-m {
    padding: 4.5em 2em;
}
.padding-l {
    padding: 7.25em 2em;
}
.padding-bottom-none {
    padding-bottom: 0;
}
.padding-bottom-xsm {
    padding-bottom: 2.5em;
}
.padding-bottom-sm {
    padding-bottom: 3.75em;
}
.padding-bottom-m {
    padding-bottom: 4.5em;
}
.padding-bottom-l {
    padding-bottom: 7.25em;
}
@media screen and (max-width: 660px) {
    .padding-xsm,
    .padding-sm,
    .padding-m,
    .padding-l {
        padding: 2.5em 1.25em;
    }
    .padding-xsm.padding-bottom-none,
    .padding-sm.padding-bottom-none,
    .padding-m.padding-bottom-none,
    .padding-l.padding-bottom-none {
        padding-bottom: 0;
    }
}

/*--- Footer ---*/

.footer {
    background: #414141;
    width: 100%;
    padding: 0;
    float: left;
    color: #d2d7d3;
    min-height: 100px;
}

.footer a, .footer .footer__heading {
    color: #d2d7d3;
}

.footer a {
    text-decoration: none;
}

.footer a, .footer-base .footer__outro {
    font-size: .95em;
}

.footer a, .footer .footer__outro {
    font-family: 'Merriweather Sans Light', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card-news-signup__leadin {
    margin: auto;
    color: #fff;
    margin-bottom: .75em;
    padding: 1.25em;
    font-size: 1.5em;
    max-width: 600px;
    padding-bottom: 0;
}

.card-news-signup {
    padding: 3.75em 2em;
}

#newspaper_signup_form {
    padding: 1.25em;
}

#newspaper_signup_form .display-inline-block {
    position: relative;
}

.display-inline-block {
    display: inline-block !important;
    vertical-align: middle;
    width: auto !important;
}

#newspaper_signup_form .card-news-signup__leadin {
    margin-bottom: .75em;
    padding-bottom: 2.25em;
}

#newspaper_signup_form input, #newspaper_signup_form button {
    font-size: 1em;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    text-transform: none;
}

#newspaper_signup_form input[type="text"], #newspaper_signup_form input[type="email"], 
#newspaper_signup_form input[type="password"], #newspaper_signup_form input[type="search"], 
#newspaper_signup_form input[type="url"], #newspaper_signup_form .input-text {
    background-color: #fdfdfd;
    border: 1px solid #8996a0;
    border-radius: 2px;
    font-family: inherit;
    margin-bottom: .5em;
    outline: 0;
    padding: 1em;
    width: 100%;
    -webkit-appearance: none;
}

#newspaper_signup_form input#newspaper_email {
    width: 300px;
    margin-bottom: 0px;
}

.btn--min-width {
    min-width: 160px;
}

#newspaper_signup_form .btn--reverse{
    background: rgba(255,255,255,0);
    color: #fff;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: inherit;
    line-height: normal;
    padding: 1em;
    text-align: center;
    text-decoration: none !important;
    -webkit-transition: background .2s;
    transition: background .2s;
    text-transform: uppercase;
}
.label-reveal {
    bottom: 10%;
    font-size: .75em;
    left: 0;
    margin: 0;
    line-height: 1;
    opacity: 0;
    padding: .25em;
    position: absolute;
    -webkit-transition: bottom .2s, opacity .2s;
    transition: bottom .2s, opacity .2s;
    z-index: 1;
}
#newspaper_signup_btn {
    margin: 0 1em;
}
.btn--min-width {
    min-width: 160px;
}

@media screen and (max-width: 660px){
    .display-inline-block {
        display: block !important;
    }
    #newspaper_signup_form input#newspaper_email {
        margin-bottom: 1.25em;
        width: 100%;
    }
    #newspaper_email {
        margin-bottom: 1.25em;
        width: 100%;
    }
    #newspaper_signup_btn {
        margin: auto;
        width: 100%;
    }


    .grid [class*="w-"]:not(.w-force):not(.show-expanded) {
        margin-bottom: 1.25em;
        width: 100%;
    }
}

.grid--footer{
    padding: 1.25em;
}

.footer .footer__heading{
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 1em;
    line-height: 1.75em;
    padding: 0;
    font-size: 1.15em;
}

.item_f1{
    padding-bottom: 10px;
}

.item_f1 a {
    display: block;
    padding-bottom: 10px;
}

.item_f1 a:hover {
    color: #efefef !important;
}

.item_f1 a:last-child {
    padding-bottom: 0;
}

.item_f3 {
	padding-top: 50px;
}

.btn1542 {
	height: 40px;
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: #ed2a26;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.btn1542:hover {
    color: #fff !important;
    background: #c72127;
}

.lng_btn {
	margin-top: 20px;
}

.lng_btn a {
	height: 40px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.lft {
	margin-right: 5px;
}
.rgt {
	margin-left: 5px;
}

.lng_btn a:hover {
    color: #fff !important;
}

.footer_bottm {
	margin-top: 50px;
	padding: 20px 0;
	border-top: 1px solid #d2d7d3;
}

.fotb_left li {
	display: inline-block;
	vertical-align: middle;
}

.footer_logo img {
    width: 30px;
    margin-right: 20px;
}

.fotb_left p {
	font-size: .95em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #d2d7d3;
    text-align: left;
    line-height: 24px;
}

.edu_social_links {
    text-align: right;
}

.edu_social_links a {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    display: inline-block;
    color: #f7f7f7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.edu_social_links a:hover {
    color: #fff !important;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); 	
}

.lng_btn .ui.dropdown .menu>.item {
	font-family: 'Roboto', sans-serif;
	color: #333 !important;
}

/* --- Categories Page --- */

._1frstcate {
    width: 100%;
}

._cate101 {
	position: relative;
    background: #fff;
    display: inline-block;
    height: 40px;
    text-align: left;
    padding: 10px 15px 10px 55px;
    border-radius: 10px;
    box-shadow: 0in 0.5pc 1.125pc -7px rgba(25,42,70,.13);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-top: 40px;
}

.cate_icon1 {
    background: #ed2a26;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

.cate_521 h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 24px;
    text-align: left;
    margin-top: 50px !important;
}

.cate_option li:last-child {
    padding-bottom: 0;
}

.cate_option li {
    padding-bottom: 10px;
    display: block;
}

.cate_option li a {
    font-size: 14px;
    color: #686f7a;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 400;
}

/* --- About Us Page --- */

._215cd2 {
    float: left;
    width: 100%;
    padding: 20px 0 0;
    background: #fff;
    position: relative;
    margin-bottom: 0px;
}

._215cd2:before {
    content: "";
    background: url(../images/about/title_bg.jpg) center bottom repeat-x;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background-size: contain;
    opacity: 0.1;
}

.title129 {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.title129 h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px !important;
    color: #333;
    text-align: center;
    line-height: 30px;
}

._215td5 {
	padding: 62px 0;
	float: left;
	width: 100%;
}

.title589 h2 {
	font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 17px !important;
    text-align: center;
    color: #333;
    line-height: 26px;
}

.title589 p {
	font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    text-align: center;
    color: #686f7a;
    line-height: 26px;
    padding: 0 300px;
}

.p__metric {
	font-size: 42px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

.p__metric span {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    margin-top: 20px !important;
    text-align: center;
    color: #686f7a;
    line-height: 26px;
    display: block;
}

.feature125 {
	text-align: center;
	margin-top: 35px;
}

.feature125 h4 {
	font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 13px;
    margin-top: 26px;
    text-align: center;
    color: #333;
}

.feature125 p {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    color: #686f7a;
    margin-top: 0;
    text-align: center;
    line-height: 26px;
}

.feature125 i {
	font-size: 40px;
	text-align: center;
	color: #333;
	margin-bottom: 0;
}

._215zd5 {
    float: left;
    width: 100%;
    background: #fff;
    padding: 62px 0;
}

.title478 {
	padding: 62px 0 0;
}

.title478 h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px !important;
    text-align: left;
    color: #333;
    line-height: 26px;
}

.title478 p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    text-align: left;
    color: #686f7a;
    line-height: 26px;
    padding-top: 27px;
}
}

.story125 {
    text-align: center;
}

.story125 {
    text-align: center;
}

.jmio125 p {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    margin-top: 50px !important;
    text-align: left;
    color: #686f7a;
    line-height: 26px;
}

._215xd5 {
    padding: 62px 0;
    float: left;
    width: 100%;
    background: #fff;
}

.jmio125 img {
	width: 100%;
	margin-top: 50px;
}


.crer_btn_link {
    height: 40px;
    padding: 10px 20px;
    border: 0;
    margin-top: 34px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #ed2a26;
    display: inline-block;
}

.crer_btn_link:hover {
    color: #fff !important;
    background: #333;
}

/* --- Our Blog Page --- */

._205ef5 {
    padding: 0;
    float: left;
    width: 100%;
}

.blogleft12 {
	width: 100%;
}

.blogleft12 li {
	display: block;
    border-bottom: 1px solid #efefef;
}

.blogleft12 li:last-child {
    border-bottom: 0;
}

.blg152 {
	padding: 15px;
}

.category-topics {
	border-top: 1px solid #efefef;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    text-align: left;
    color: #333;
    display: block;
    padding: 15px 20px;
}

.category-topics:first-child {
	border-top: 0;
}

.category-topics:after {
    content: '\f0d7';
    font-size: 14px;
    font-family: "FontAwesome";
    float: right;
    margin-left: 30px;
    color: #a7a8aa;
}

.category-topics.collapsed:after {
    content: '\f0da'; 
    font-size: 14px;
    font-family: "FontAwesome";
    float: right;
    margin-left: 30px;
    color: #a7a8aa;
}

.category-card li {
	border: 0;
}

.category-item1 {
	border-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    text-align: left;
    color: #686f7a;
    display: block;
    padding: 10px 20px;
}

.category-item1.active {
    font-weight: 500;
    color: #333;
}

.category-item1:last-child {
    padding-bottom: 20px;
}

.socl148 {
	padding: 20px;
}

.twiter158 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    border: 0;
    border-radius: 20px;
    height: 30px;
    padding: 0 15px;
    width: 100%;
    background: #1da1f2;
}

.facebook158 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    border: 0;
    border-radius: 20px;
    height: 30px;
    padding: 0 15px;
    width: 100%;
    margin-top: 10px;
    background: #3b5998;
}

.ic45 {
	margin-right: 7px;
}

.help_link {
	padding: 15px 20px;
	text-align: center;
}

.help_link p {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px !important;
    margin-top: 0 !important;
    color: #686f7a;
    line-height: 26px;
}

.help_link a {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}

.blog_des {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #686f7a;
    text-align: left;
    margin-top: 15px;
    display: -webkit-box!important;
    display: -moz-box!important;
    display: box!important;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -o-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogbg_1 {
    background: #fff;
    width: 100%;
    float: left;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #efefef;
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.main-p-pagination {
	float: left;
    margin-top: 50px;
    width: 100%;
    text-align: right;
    margin-bottom: 50px;
}

.main-p-pagination .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    text-align: right;
}

.main-p-pagination .pagination .page-link {
	font-size: 14px;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 7px 12px;
    margin-left: 8px;
    line-height: 1.25;
    color: #686f7a;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #efefef;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main-p-pagination .pagination .page-link.active {
    background: #333;
    border: 1px solid #333;
    color: #fff;
}

.main-p-pagination .pagination .page-link:hover {
	background:#ed2a26;
	border: 1px solid #ed2a26;
	color:#fff !important;
	box-shadow:none;
}

.main-p-pagination .pagination .page-link:focus {
	box-shadow:none;
	color: inherit !important;
}

.main-p-pagination .pagination .page-link i {
	font-size:12px;
}

.blog_link {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.blog_link i {
    margin-right: 5px; 
}

.bg_blog2 img {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}

.vdtodt55 {
    margin-bottom: 23px;
    font-size: 14px;
    margin-top: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    text-align: left;
    display: block;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.vdtodt55 .vdt24::after {
    content: 'â€¢';
    margin: 0 4px;
}

.vdtodt55 .vdt24:last-child::after{
    display: none;
    content: '';
}

.blog_pagination {
	float: left;
	width: 100%;
	margin-top: 30px;
    margin-bottom: 30px;
}

.bp_left {
	float: left;
	left: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.bp_left i {
	font-size: 24px;
	color: #333;
}

.bp_right {
	float: right;
	right: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.bp_right i {
	font-size: 24px;
	color: #333;
}

.kslu15 {
	margin-left: 15px;
	text-align: left;
}

.prevlink {
	font-size: 16px;
	color: #333;
	font-weight: 500;
	margin-bottom: 10px;
}

.kslu15:hover {
	margin-left: 5px;
	transition: margin .3s ease-out;
}

.prev_title {
	display: -webkit-box!important;
    display: -moz-box!important;
    display: box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: #686f7a;
}

.kslu16 {
	margin-right: 15px;
	text-align: right;
}

.prevlink1 {
	font-size: 16px;
	color: #333;
	font-weight: 500;
	margin-bottom: 10px;
}

.kslu16:hover {
	margin-right: 5px;
	transition: margin .3s ease-out;
}

.prev_title1 {
	display: -webkit-box!important;
    display: -moz-box!important;
    display: box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: #686f7a;
}

/* --- Error 404 Page --- */

.title_404 {
    font-size: 14em;
    font-weight: 600;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1em;
    text-shadow: 1px 10px 6px rgba(0,0,0,0.2);
    padding-bottom: 29px;
    margin-top: 0;
}

.bk_btn {
	font-weight: 500;
	color: #fff;
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #ed2a26;
    border-radius: 20px;
    height: 40px;
    border: 0;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 25px;
}

.bk_btn:hover {
	color: #fff !important;
	background: #ed2a26;
	box-shadow: 1px 10px 6px rgba(0,0,0,0.2);
}


/* Grid */
.grid {
    margin-left: -1.25em;
}
.clearfix:after, .grid:after {
    clear: both;
    content: '';
    display: table;
}
.grid>[class*="w-"] {
    float: left;
    margin-bottom: 0;
    min-height: 1px;
    padding-left: 1.25em;
    position: relative;
}
.grid:last-of-type {
    margin-bottom: 0;
}
.w-20 {
    width: 20%;
}
/*