RewriteEngine On

RewriteRule ^/?$ 						index.php [QSA]
RewriteRule ^contact/?$ 				index.php?com=contact [QSA]

RewriteRule ^vod/?$ 					index.php?com=vod [QSA]
RewriteRule ^vod/view?$ 				index.php?com=vod&viewtype=view [QSA]
RewriteRule ^vod/add?$ 					index.php?com=vod&viewtype=add [QSA]
RewriteRule ^vod/edit/([0-9]+)?$ 		index.php?com=vod&viewtype=edit&id=$1 [QSA]
RewriteRule ^vod/write/?$ 				index.php?com=vod&viewtype=write [QSA]
RewriteRule ^vod/pending/?$ 			index.php?com=vod&viewtype=pending [QSA]
RewriteRule ^vod/waiting_public/?$ 		index.php?com=vod&viewtype=waiting_public [QSA]
RewriteRule ^vod/public/?$ 				index.php?com=vod&viewtype=public [QSA]
RewriteRule ^vod/deleted/?$ 			index.php?com=vod&viewtype=deleted [QSA]
RewriteRule ^vod/takedown/?$ 			index.php?com=vod&viewtype=takedown [QSA]
RewriteRule ^vod/return/?$ 				index.php?com=vod&viewtype=return [QSA]

RewriteRule ^setting/?$ 				index.php?com=setting [QSA]
RewriteRule ^forgot-password/?$ 		forgot-password.php

php_flag display_errors  on
php_value upload_max_filesize 1024M
php_value post_max_size 1024M
php_value max_input_time 300
php_value max_execution_time 300

#Bảo vệ file
<files .htaccess>
order allow,deny
deny from all
</files>